<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Anthony Lazzaro"/>
		<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
		<!--css-->
        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/firstCoat.css">
		
		<!--JS-->
		<script src="/static/js/processing-1.4.1.js"></script>
		
		<!-- Meta -->
		<title>Flocking by Tony Zaro</title>
	</head>
	<body id="home">
		<div  role="document" class="document">
		<header>
		<h1><a class="logo" href="http://www.tonyzaro.com">'Flocking' by Tony Zaro</a></h1>
		</header>


<canvas id="magic" >
		you should see me if canvas isn't available
</canvas>


	</div><!-- end of document div -->
		<script src="/static/js/behaviour.js"></script>
		<script src="/static/js/flocking.js"></script>
	</body>
</html>
